body, html{
    background-image: linear-gradient(to left, black, white);
}

h1{
    color: white;
    background-color: black;
    text-align: left;
    font-family: Arial;
    font-size: 20pt;
    letter-spacing: 0.15cm;
    margin: 0px;
    height: 25pt;
    padding: 5pt;
}

td{
    padding: 20pt;
}
